        *{padding: 0; margin: 0}
          .zj{
			    position: fixed;
			    margin-left: 9%;
			    display: block;
			    width: 83%;
			    top: 18%;
	        }
        	.bg{
			    display: block;
			    width: 100%;
			    top: 18%;
	        }
	        .award{
			        position: absolute;
				    margin-left: 21%;
				    display: block;
				    width: 57.3%;
				    top: 24%;
	        }
	        .sdll_cont_llj{
	            position: absolute;
				width: 90%;
			    float: right;
			    margin-left: 5%;
			    top: 56%;
			    height:9.5rem;
			} 
			.sdll_cont_llj p{
				/* font-weight:bold; */
				color:#000;
			} 
			.sdll_cont_llj .xzt{
				font-size: 1rem;
				padding-top: 0.6rem;
			}
			.sdll_cont_llj .zzt{
				font-size: 1.2rem;
				padding-top: 0.6rem;
			}
			.sdll_cont_llj .xz{
				font-family:'微软雅黑';
				font-size: .9rem;
				padding-top: .3rem;
			}
			 .sdll_cont_tip{
	            position: absolute;
				width: 90%;
			    float: right;
			    margin-left: 5%;
			    top: 77%;
			    height:9.5rem;
			} 
			.sdll_cont_tip p{
				font-weight:bold;
				color:#4A3D3D;
				font-size: 0.8rem;
			} 	
	        .background{
	        	position: fixed;
	        	width: 100%;
	            height: 100%;
	            text-align: center;
	        }
	        .background_image{
	        	width: 100%;
	            height: 100%;
	        }	     
	        .rule{
	        	background: rgba(0, 0, 0, 0.55);				
				text-align: center;
				position: fixed;
				left: 0;
				bottom: 0px;
				width: 100%;
				height: 25px;
				line-height: 25px;
				z-index: 1010;
				font-size: 16px;
	        } 
	        a {text-transform:none;text-decoration:none;} 
	        @media only screen and (min-width: 320px) {
				.sdll_cont_llj .xz{
					font-family:'微软雅黑';
					font-size: .8rem;
					padding-top: .3rem;
				}
			}
