#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/weixin/back/weixinReceivetext/list.do" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="fromUserName" class="control-label col-sm-3 line34">openid</label>
															     <div class="col-sm-8">
															    <input type="text" name="fromUserName" id="fromUserName" value="$!{weixinReceivetext.fromUserName}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="msgType" class="control-label col-sm-3 line34">消息类型</label>
															     <div class="col-sm-8">
																     <select name="msgType" id="msgType" class="form-control">
																     		<option value="">--请选择--</option>
																    		<option value="text">文本消息</option>
																    		<option value="image">图片消息</option>
																    		<option value="voice">语音消息</option>
																    		<option value="video">视频消息</option>
																    		<option value="shortvideo">小视频消息</option>
																    		<option value="location">地理位置消息</option>
																    		<option value="link">链接消息</option>
																    		<option value="event">事件消息</option>
															    	  </select>
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le">
								          ##<button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/weixin/back/weixinReceivetext/toAdd.do')" >新增</button>
								          </legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
									        		<th width="80px">
									        		 <input type="checkbox" name="ckAll" id="ckAll"  />全选
									        		</th>
													<th>openid</th>
													<th>消息类型</th>
									        		<th style="width: 50%;">消息内容</th>
													<th>发送时间</th>
						                			##<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>		
									            		<td><input type="checkbox" name="ck" value="$!{info.id}" /></td>	
																	<td>$!{info.fromUserName}</td>
																	#if($!{info.msgType} == 'text')
																		<td>文本消息</td>
																	#elseif($!{info.msgType} == 'voice')
																		<td>语音消息</td>
																	#elseif($!{info.msgType} == 'video')
																		<td>视频消息</td>
																	#elseif($!{info.msgType} == 'image')
																		<td>图片消息</td>
																	#elseif($!{info.msgType} == 'event')
																		<td>事件消息</td>
																	#elseif($!{info.msgType} == 'shortvideo')
																		<td>小视频消息</td>
																	#elseif($!{info.msgType} == 'link')
																		<td>链接消息</td>
																	#elseif($!{info.msgType} == 'location')
																		<td>地理位置消息</td>
																	#end
																	<td>$!{info.content}</td>
																	<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.createTime})</td>
										                ##<td class="last">
							                			##<a href="javascript:doUrl('$!{basePath}/weixin/back/weixinReceivetext/toEdit.do?id=$!{info.id}')" >编辑</a>
							                			##<a class="btn btn-xs btn-primary" href="javascript:doUrl('$!{basePath}/weixin/back/weixinReceivetext/toDetail.do?id=$!{info.id}')" ><i class="fa fa-search"></i> 查看</a>
							                			##<a href="javascript:delData('$!{basePath}/weixin/back/weixinReceivetext/doDelete.do?id=$!{info.id}')">删除</a>
						                				##</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>
<script>
$("#ckAll").click(function(){ 
	if($(this).prop("checked")){ 
	 $(":checkbox").prop("checked",true) 
	}else{ 
	$(":checkbox").prop("checked",false)  
	} 
}); 

//jquery获取复选框值    
function getCkValue(){  
  var chk_value =[];    
  $('input[name="ck"]:checked').each(function(){    
   chk_value.push($(this).val());    
  });    
  //alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);    
}    

</script>