#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<link href="$!{basePath}/plug-in/plugin/hplus/css/style.css" type="text/css" rel="stylesheet"/>
<link href="$!{basePath}/plug-in/plugin/hplus/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/commonweixin/back/myJwWebJwid/list.do" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">微信公众号列表</div>
								  <div class="panel-body">
								  		<div class="search">
											 <div class="form-group col-sm-4">
											    <label for="jwid" class="control-label col-sm-3 line34">公众号原始id</label>
											     <div class="col-sm-8">
											    <input type="text" name="jwid" id="jwid" value="$!{myJwWebJwid.jwid}" class="form-control">
											  	</div>
											 </div>
											 <div class="form-group col-sm-4">
											    <label for="name" class="control-label col-sm-3 line34">公众号名称</label>
											     <div class="col-sm-8">
											    <input type="text" name="name" id="name" value="$!{myJwWebJwid.name}" class="form-control">
											  	</div>
											 </div>
											  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> 搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend class="le">
											#if($!os_flag !=  0) 
								          	<button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/commonweixin/back/myJwWebJwid/toAdd.do')" ><span class="glyphicon glyphicon-plus"></span> 手动授权</button> 
								          	##<button type="button" class="btn btn-warning" onclick="switchDefaultOfficialAcco()" ><span class="glyphicon glyphicon-retweet"></span> 切换默认公众号</button> 
											##<button type="button" class="btn btn-primary" onclick="getAuthhorizationUrl()" >扫码授权</button> 
											#end
										  </legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
												<th>公众号名称</th>
												<th>公众号原始id</th>
												<th>微信号</th>
												<th>微信AppId</th>
												##<th>微信AppSecret</th>
												<th>公众号类型</th>
												<th>是否认证</th>
												<th>授权方式</th>
												<th>公众号二维码</th>
					                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
														<td>$!{info.name}</td>
														<td>$!{info.jwid}</td>
														<td>$!{info.weixinNumber}</td>
														<td>$!{info.weixinAppId}</td>
														##<td>$!{info.weixinAppSecret}</td>
														<td>#if($!{info.accountType}=="1")服务号#else 订阅号#end</td>
														<td>#if($!{info.authStatus}=="1")认证#else 未认证#end</td>
														<td>#if($!{info.authType}=="2")扫码授权#else 手动授权#end</td>
														<td><img src="$!{basePath}/upload/img/commonweixin/$!{info.qrcodeimg}" width="20" height="20"></td>
										                <td class="last">
								                			#if($!{info.authType}!="2")<a class="btn btn-primary btn-xs" href="javascript:doUrl('$!{basePath}/commonweixin/back/myJwWebJwid/toEdit.do?id=$!{info.id}')" ><i class="fa fa-edit"></i> 编辑</a>#end
								                			<a class="btn btn-info btn-xs" href="javascript:activeData('$!{basePath}/commonweixin/back/myJwWebJwid/reset.do?id=$!{info.id}');"><i class="fa fa-refresh"></i> 重置token</a>
															#if($!os_flag !=  0)
								                			<a class="btn btn-danger btn-xs" href="javascript:delData('$!{basePath}/commonweixin/back/myJwWebJwid/doDelete.do?id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>
															 #end
															<a class="btn btn-warning btn-xs" href="javascript:toSwitchDefaultOfficialAcco('$!{info.jwid}')"><i class="fa fa-retweet"></i> 变更公众号ID</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>
<script>
	function activeData(url){
		jQuery.ajax({
			url: url,
			dataType: "json",
			success:function(data){
				layer.alert(data.msg);
			}
		});
	}
	function getAuthhorizationUrl(){
		jQuery.ajax({
			url: "$!{basePath}/commonweixin/back/myJwWebJwid/getAuthhorizationUrl.do",
			type:"POST",
			dataType: "json",
			success:function(data){
				if(data.success){
					$("body").append("<a href=\""+data.obj+"\" target='_black' id='redirectUrl'></a>");
					document.getElementById("redirectUrl").click();
				}else{
					alert(data.msg);
				}
			}
		});
	}
	
	//变更公众号
	function toSwitchDefaultOfficialAcco(jwid){
		location.href="$!{basePath}/commonweixin/back/myJwWebJwid/toSwitchDefaultOfficialAcco.do?jwid="+jwid;
	}
</script>